@import url("./styles/default.css/style.css");

#root {
  padding-block: 2rem;
}

.app {
  container: contents / inline-size;
  --contents-grid-cols: [content-start full-start] repeat(10, [col-start] minmax(0, 1fr) [col-end]) [full-end
    content-end];

  display: grid;
  grid-template-columns: var(--contents-grid-cols);
  grid-column: content;

  text-align: center;
}

#root {
  display: contents;
}

/* -- FOR REFERENCE -- from default.css file '3.1.grid.css' --- */
/*
    grid-template-columns:
      [full-start header-start footer-start] max(8dvw, calc(50dvw - var(--content) / 2))
      [content-start] repeat(12, [col-start] minmax(0, 1fr) [col-end])
      [content-end] max(8dvw, calc(50dvw - var(--content) / 2))
      [header-end footer-end full-end];

    grid-template-rows:
      [header-start] auto
      [header-end content-start] 1fr
      [content-end footer-start] auto
      [footer-end]; 
*/
