.main {
  display: grid;
  grid-template-columns: var(--contents-grid-cols);
  gap: inherit;
}

.header {
  display: grid;
  grid-column: -1 / 1;
  align-items: center;
  grid-template-columns: subgrid;

  .middle {
    place-self: center;
    grid-column: 2 / -2;
    grid-row: 1;
  }

  .end {
    place-self: center end;
    grid-column: -1;
    grid-row: 1;
  }

  p {
    grid-column: content;
  }
}

.reset {
  position: relative;
}

.pickers {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gutter-sm);
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-items: center;
  grid-column: 1/-1;
}

.animate {
  animation: spin 1s ease-out forwards;
}

@keyframes spin {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

@container contents (inline-size < calc(2 * 32ch)) {
  .pickers {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, minmax(min(100cqw, 10ch), 1fr));
  }
}

@container contents (inline-size < calc(4 * 12ch)) {
  .pickers {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, minmax(min(100cqw, 10ch), 1fr));
  }
}
