.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  h2 {
    grid-column: 1 / -1;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blocks {
  display: inline-block;
  flex: 1 1 0%;
  display: inline-block;
  align-content: center;
  margin: 5px;
  padding: 5px;
  min-block-size: 2rlh;
}
