/* ---------------------- */

.main {
  --min-block-width: 21ch;

  container: color-blocks / inline-size;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25cqw - var(--gutter-sm)), 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: var(--gutter-sm);

  > * {
    text-align: center;
    gap: inherit;
  }

  h2 {
    grid-column: 1 / -1;
  }
}

@container contents (inline-size < calc(4 * 22ch )) {
  .main {
    grid-template-columns: repeat(2, minmax(min(100cqw, 25ch), 1fr));
  }
}

@container contents (inline-size < calc(2 * 30ch)) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(min(100cqw, 21ch), 1fr));
  }
}

.variants {
  display: grid;
  gap: inherit;
}

.blocks {
  display: grid;
  row-gap: var(--gutter-xs);
  color: var(--text-contrast);
  align-content: center;

  font-size: var(--fontsize-md);
  line-height: var(--line-height-condensed);

  .blockName {
    white-space: nowrap;
    padding: var(--spacing-xs);
    opacity: 1;
    transition: all 300ms ease-out;
  }

  .blockInfo {
    font-size: var(--fontsize-sm);
    line-height: var(--line-height-condensed);
    color: var(--text-base);
    opacity: 0.8;

    transition: all 300ms ease-out;

    &.loading {
      color: var(--text-muted);
      opacity: 0.7;
    }
  }
}
